.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}
.box {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
  border: 2px solid black;

}
.checked{
  border-color: yellow!important;
}
